body {
  height: 100%; /* 100% height, ensuring that the content will be contained within the viewport. */
  padding: 0;
  margin: 0.5;
  background-color: black;
  color: white; /* Set the color of the text to make it visible on the background */
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  /*background-image: url(background.jpg);*/
}

header {
  display: flex; /*property creates a flex container*/
  flex-direction: column; /*stacks the content of this class underneath*/
  justify-content: center;
  align-items: center; /*center the content both horizontally and vertically within the container*/
  height: 30vh; /* This ensures the element takes up the full height of the viewport making it vertically centered.*/
  background-size: cover;
  background-position: center;
  font-size: 2vw;
  white-space: nowrap; /* Prevents text from breaking into multiple lines */
}

a {
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 10vw;
  font-size: 10px;
}
